{% extends 'admin_panel/base_admin.html' %}
{% load static %}
{% block content %}
    <style>
        .career {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    input{
        width: 70%;
        padding: 8px 15px;
        float: left;
    }

    textarea {
        width: 70%;
        padding: 8px 15px;
    }

    label {
        color: white;
    }
    button {
        float: right;
    }

    .header-wrap {
        justify-content: end;
    }
    </style>
        <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        {% include 'admin_panel/admin_header.html' %}
        <!-- HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-9">
                            <h2 class="title-1 m-b-25">Edit Career page</h2>
                            <div class="au-card au-card--bg-blue au-card-top-countries m-b-40 uzunlik" >
                                <div class="au-card-inner">
                                    <div class="form-responsive">
                                        <form class="form form-top-countries" method="post" enctype="multipart/form-data">{% csrf_token %}
                                            {% for form in careerForm %}
                                                <div style="margin-top: 50px;">
                                                    <p style="color: white">{{ form.name }}</p>
                                                    <p>{{ form }}</p>
                                                </div>
                                            {% endfor %}
                                            <button class="btn btn-info button2">Edit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <h2 class="title-1 m-b-25">CREATE VACANCY</h2>
                            <div class="au-card au-card--bg-blue au-card-top-countries m-b-40 uzunlik1">
                                <div class="au-card-inner">
                                    <div class="table-responsive">
                                        <form class="form form-top-countries" method="post" enctype="multipart/form-data">{% csrf_token %}
                                            <div class="career">
                                                <label for="last_name">Name:</label>
                                                <input id="last_name" type="name" placeholder="Name" name="name">
                                            </div>
                                            <div class="career">
                                                <label for="desc">Description:</label>
                                                <textarea id="desc" name="description" id="" cols="30" rows="5" placeholder="description"></textarea>
                                            </div>
                                            <div class="career">
                                                <label for="salary">Salary:</label>
                                                <input id="salary" type="number" placeholder="enter the currency in dollars" name="salary">
                                            </div>
                                            <div class="career">
                                                <label for="jobtype">Jobtype:</label>
                                                <input  id="jobtype" type="text" placeholder="Job type" name="job_type">
                                            </div>
                                            <div class="career">
                                                <label for="graph">Graph:</label>
                                                <input id="graph" type="text" placeholder="Graph" name="graph">
                                            </div>
                                            <div class="career">
                                                <label for="active_date">Active Date:</label>
                                                <input id="active_date" type="date" placeholder="Active date" name="active_date">
                                            </div>
                                            <div class="career">
                                                <label for="duties">Duties:</label>
                                                <input id="duties" type="text" placeholder="Duteis" name="duties">
                                            </div>
                                            <div class="career">
                                                <label for="requirements">Requirements:</label>
                                                <input id="requirements" type="text" placeholder="Requirements" name="requirements">
                                            </div>
                                            <div class="career">
                                                <label for="pros">Pros:</label>
                                                <input id="pros" type="text" placeholder="Pros" name="pros">
                                            </div>
                                            <div class="career">
                                                <label for="pros">Skills:</label>
                                                <input id="pros" type="text" placeholder="Pros" name="pros">
                                            </div>
                                            <div class="career">
                                                <label for="skills"></label>
                                                <input id="skills" type="text" placeholder="Skills" name="skills">
                                            </div>
                                            <button type="button" class="btn btn-info button1">Add</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2 class="title-1 m-b-25">CREATE DUTIES</h2>
                                    <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
                                        <div class="au-card-inner">
                                            <div class="table-responsive">
                                                <form class="form form-top-countries">
                                                    <input type="text" placeholder="Name" name="name">
                                                    <button type="button" class="btn btn-info button2">Add</button>
                                                    
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <h2 class="title-1 m-b-25">CREATE PROS</h2>
                                    <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
                                        <div class="au-card-inner">
                                            <div class="table-responsive">
                                                <form class="form form-top-countries">
                                                    <input type="text" placeholder="Pros" name="pros">
                                                    <button type="button" class="btn btn-info button2">Add</button>
                                                    
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <h2 class="title-1 m-b-25">CREATE SKILLS</h2>
                                    <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
                                        <div class="au-card-inner">
                                            <div class="table-responsive">
                                                <form class="form form-top-countries">
                                                    <input type="text" placeholder="Skills" name="skills">
                                                    <button type="button" class="btn btn-info button2">Add</button>
                                                    
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <h2 class="title-1 m-b-25">CREATE REQUIREMENTS</h2>
                                    <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
                                        <div class="au-card-inner">
                                            <div class="table-responsive">
                                                <form class="form form-top-countries">
                                                    <input type="text" placeholder="Requirements" name="requirements">
                                                    <button type="button" class="btn btn-info button2">Add</button>
                                                    
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="title-1 m-b-25">VACANCIES</h2>
                            <div class="table-responsive table--no-card m-b-40">
                                <table class="table table-borderless table-striped table-earning">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Jobtype</th>
                                            <th>Graph</th>
                                            <th class="text-right">Salary</th>
                                            <th>Create1</th>
                                            <th>Update</th>
                                            <th class="date">active_date</th>
                                            <th>Active</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>100397</td>
                                            <td>Samsung S8 Black</td>
                                            <td class="text-right">$756.00</td>
                                            <td class="text-right">1</td>
                                            <td class="text-right">$756.00</td>
                                            <td>100398</td>
                                            <td>iPhone X 64Gb Grey</td>
                                            <td class="text-right">$999.00</td>
                                            <td class="text-right"><button type="button" class="btn btn-primary">Edit</button></td>
                                            <td class="text-right"><button type="button" class="btn btn-danger">deleted</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="title-1 m-b-25">Resumes</h2>
                            <div class="table-responsive table--no-card m-b-40">
                                <table class="table table-borderless table-striped table-earning">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>File</th>
                                            <th>Vacaay</th>
                                            <th class="date">Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>100397</td>
                                            <td>Samsung S8 Black</td>
                                            <td class="text-right">$756.00</td>
                                            <td class="text-right">1</td>
                                            <td class="text-right">$756.00</td>
                                            <td>100398</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}
